<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <!--<link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>-->
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h1>API Project: Timestamp Microservice</h1>
   
      <ul>
          <li>Valid date string:<br/><a href="https://timestamp-lv.glitch.me/timestamp/2018-12-25">https://timestamp-lv.glitch.me/timestamp/2015-12-25</a></li>
          <li>Valid date in milliseconds:<br/><a href="https://timestamp-lv.glitch.me/timestamp/20161102">https://timestamp-lv.glitch.me/timestamp/20161102</a></li>
          <li>Empty date returns current timestamp:<br/><a href="https://timestamp-lv.glitch.me/timestamp/">https://timestamp-lv.glitch.me/timestamp/</a></li>
          <li>Non valid date returns  {"unix":null, "utc":"Invalid Date"}<br/><a href="https://timestamp-lv.glitch.me/timestamp/44-45-02">https://timestamp-lv.glitch.me/timestamp/44-45-02</a></li>
        </ul>
     </div>
   </body>

</html>
